:root {
  --clr-1: #327ea3;
  --clr-2: #4ca5d0;
  --clr-3: #6ca338;
  --clr-4: #ffbc38;
  --clr-5: #e82c0c;
  --gray-mid-0: #282828;
  --gray-mid:#232323;
  --gray-mid-2: #1e1e1e;
  --gray-dark: #141414;
  --gray-light: #878787;
  --gray-mid-1: #373737;
  --gray: #3b3b3b;
  --font-lato: 'Lato', sans-serif;
  --white: #ffffff; }

.outline-y {
  outline: 1px solid yellow; }

.outline-r {
  outline: 1px solid red; }

.transition, .header .social__link, .resume, .resume .post__link, .portfolio .gallery__item::before, .portfolio .gallery__filter .gf-item, .contacts__map-container {
  transition: 0.3s; }

.hr-separator {
  border: none;
  border-top: 1px dashed var(--gray);
  margin-top: 20px; }

a {
  color: var(--clr-2); }

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box; }

html {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: var(--gray-dark);
  font-family: var(--font-lato);
  padding-bottom: 60px; }

table.top-border {
  width: 100%;
  border-collapse: collapse; }
  table.top-border td {
    height: 2px; }
    table.top-border td.clr-1 {
      background: var(--clr-1); }
    table.top-border td.clr-2 {
      background: var(--clr-2); }
    table.top-border td.clr-3 {
      background: var(--clr-3); }
    table.top-border td.clr-4 {
      background: var(--clr-4); }
    table.top-border td.clr-5 {
      background: var(--clr-5); }

.header__social {
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 20px; }
.header .social__link {
  text-indent: 40px;
  display: block;
  height: 18px;
  width: 22px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  padding: 2px; }
.header .social .rss {
  background-image: url(../images/icon-feed-dark.png); }
  .header .social .rss:hover {
    background-image: url(../images/icon-feed.png); }
.header .social .fb {
  background-image: url(../images/icon-facebook-dark.png); }
  .header .social .fb:hover {
    background-image: url(../images/icon-facebook.png); }
.header .social .tw {
  background-image: url(../images/icon-twitter-dark.png); }
  .header .social .tw:hover {
    background-image: url(../images/icon-twitter.png); }
.header .social .gplus {
  background-image: url(../images/icon-gplus-dark.png); }
  .header .social .gplus:hover {
    background-image: url(../images/icon-gplus.png); }
.header .social .lnkd {
  background-image: url(../images/icon-linkedin-dark.png); }
  .header .social .lnkd:hover {
    background-image: url(../images/icon-linkedin.png); }
.header .social .drb {
  background-image: url(../images/icon-dribble-dark.png); }
  .header .social .drb:hover {
    background-image: url(../images/icon-dribble.png); }
.header .social .vim {
  background-image: url(../images/icon-vimeo-dark.png); }
  .header .social .vim:hover {
    background-image: url(../images/icon-vimeo.png); }
.header .social .pin {
  background-image: url(../images/icon-pinterest-dark.png); }
  .header .social .pin:hover {
    background-image: url(../images/icon-pinterest.png); }

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

.page {
  background: var(--gray-mid-0);
  color: var(--gray-light); }
  .page__control {
    height: 60px;
    cursor: pointer;
    transition: 0.2s;
    position: relative; }
    .page__control:hover {
      background: var(--gray-mid); }
      .page__control:hover .control__indicator {
        background: var(--gray); }
        .page__control:hover .control__indicator::after {
          background-position: 0 0; }
      .page__control:hover .control__indicator_inv {
        background: var(--gray); }
        .page__control:hover .control__indicator_inv::after {
          background-position: 0 -16px; }
  .page p {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    line-height: 20px; }
  .page .control {
    position: relative; }
    .page .control__indicator {
      position: absolute;
      border-radius: 2px;
      top: 8px;
      right: 8px;
      display: block;
      border: 3px solid var(--gray);
      height: 34px;
      width: 34px; }
      .page .control__indicator::after {
        position: absolute;
        height: 16px;
        width: 26px;
        top: 26%;
        left: 14%;
        content: '';
        background-image: url(../images/header_controls_dark.png);
        background-repeat: no-repeat;
        background-position: -26px 0; }
    .page .control__indicator_inv::after {
      background-image: url(../images/header_controls_dark.png);
      background-position: -26px -16px; }

.section__label {
  height: 100%;
  display: inline-block;
  color: var(--white);
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 900;
  line-height: 60px;
  padding-left: 40px;
  padding-right: 40px; }

.section__icon {
  position: absolute;
  height: 100%;
  width: 60px;
  display: block;
  color: var(--white);
  font-size: 19px;
  line-height: 60px;
  box-sizing: border-box;
  top: 0;
  left: -60px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 30px;
  text-align: center; }

.profile {
  border-bottom: 1px solid var(--gray); }
  .profile__bio {
    padding: 40px;
    display: flex; }
    .profile__bio_full {
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 40px !important; }
  .profile__image {
    border: 4px solid var(--gray);
    max-width: 117px;
    margin-right: 20px;
    align-self: flex-start; }
  .profile__user {
    padding-top: 15px;
    margin-right: 30px; }
  .profile__name {
    font-weight: 900;
    color: var(--white);
    margin: 0;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700; }
  .profile__position {
    color: var(--clr-2);
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    margin: 0; }
  .profile__data {
    color: var(--white);
    font-size: 12px;
    flex-grow: 1; }
  .profile__table {
    width: 100%; }
    .profile__table th {
      text-align: right;
      padding: 1px 10px 1px 1px; }
    .profile__table td {
      text-align-last: left;
      color: var(--gray-light); }

.resume {
  border-bottom: 1px solid var(--gray); }
  .resume__full {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between; }
  .resume__header {
    color: var(--white);
    background: var(--gray-mid-1);
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
    padding: 5px 10px 7px 39px;
    margin-bottom: 30px; }
    .resume__header-icon {
      top: 0;
      left: 0;
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      background-image: url(../images/section_marker.png);
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 4px;
      margin-right: 8px; }
  .resume__main {
    flex-grow: 0; }
  .resume__sidebar {
    flex-basis: 250px;
    flex-grow: 1; }
  .resume .post {
    padding-bottom: 20px; }
    .resume .post__link {
      color: var(--white);
      text-decoration: none;
      font-size: 18px;
      padding-left: 6px;
      display: flex;
      flex-direction: column; }
      .resume .post__link:hover {
        color: var(--gray-light); }
    .resume .post__title {
      display: flex;
      align-items: flex-start; }
      .resume .post__title-icon {
        border-radius: 100px;
        height: 15px;
        width: 15px;
        margin-top: 3px;
        background-image: url(../images/post_title_icon.png);
        background-position: 5px 3px;
        background-repeat: no-repeat; }
    .resume .post__subtitle {
      font-weight: 400;
      font-size: 14px;
      color: var(--gray-light); }
    .resume .post__date {
      flex-grow: 1;
      text-align: right;
      font-size: 18px;
      font-weight: 100; }
    .resume .post__content {
      padding-bottom: 10px; }

.sidebar {
  padding-left: 40px;
  box-sizing: border-box;
  min-width: 250px; }

.skill {
  margin-bottom: 50px; }
  .skill__heading {
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 23px; }
  .skill__widget {
    font-size: 12px;
    color: var(--gray-light); }
  .skill .legend {
    margin-bottom: 20px; }
    .skill .legend__row {
      display: flex;
      align-items: center;
      margin-bottom: 6px; }
    .skill .legend__label {
      height: 9px;
      width: 9px;
      margin-right: 6px; }
  .skill .state {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between; }
    .skill .state__title {
      margin-right: 20px; }
    .skill .state .bar {
      display: flex;
      margin-right: 40px; }
      .skill .state .bar__item {
        position: relative;
        height: 20px;
        width: 20px;
        box-sizing: border-box;
        border: 3px solid var(--gray-mid-1);
        border-radius: 100px;
        background-color: var(--gray-mid);
        margin-right: 2px; }
        .skill .state .bar__item_fill {
          height: 18px;
          width: 18px;
          border-radius: 100px;
          box-sizing: border-box;
          display: block;
          position: absolute;
          border: none;
          margin: 0;
          top: -2px;
          left: -2px; }
  .skill .progress {
    margin-bottom: 10px; }
    .skill .progress__title {
      margin-bottom: 2px; }
    .skill .progressbar {
      background: var(--gray-mid-1);
      height: 15px; }
    .skill .progress__persent {
      display: block;
      height: 100%;
      color: var(--white);
      text-align: right;
      padding-right: 2px;
      font-weight: 700; }
  .skill__progress {
    display: flex;
    flex-direction: column; }

.portfolio {
  border-bottom: 1px solid var(--gray); }
  .portfolio .gallery {
    padding: 40px; }
    .portfolio .gallery__item {
      display: block;
      position: relative;
      cursor: pointer; }
      .portfolio .gallery__item::before {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0; }
      .portfolio .gallery__item:hover::before {
        opacity: 1; }
    .portfolio .gallery__image {
      max-width: 100%;
      display: block; }
    .portfolio .gallery__link {
      display: block; }
  .portfolio .gallery__filter {
    display: flex;
    margin-bottom: 10px; }
    .portfolio .gallery__filter .gf-item {
      padding: 4px 8px;
      border: 2px solid var(--gray-mid-1);
      border-radius: 4px;
      cursor: pointer;
      margin-right: 2px; }
      .portfolio .gallery__filter .gf-item:hover {
        background: var(--gray-mid-1); }
  .portfolio .gallery__content {
    display: grid;
    grid-gap: 2px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 1fr 1fr 1fr; }

.testimonials {
  border-bottom: 1px solid var(--gray); }
  .testimonials__content {
    padding: 40px; }
  .testimonials .post {
    overflow: auto; }
    .testimonials .post__title {
      display: flex;
      align-items: flex-start; }
      .testimonials .post__title-icon {
        border-radius: 100px;
        height: 15px;
        width: 15px;
        margin-top: 3px;
        background-image: url(../images/post_title_icon.png);
        background-position: 5px 3px;
        background-repeat: no-repeat; }
    .testimonials .post__name {
      color: var(--white);
      text-decoration: none;
      font-size: 18px;
      padding-left: 6px;
      display: flex;
      flex-direction: column; }
    .testimonials .post__subtitle {
      font-weight: 400;
      font-size: 14px;
      color: var(--gray-light); }
    .testimonials .post__date {
      flex-grow: 1;
      text-align: right;
      font-size: 18px;
      font-weight: 100; }
    .testimonials .post__content {
      padding-left: 20px; }
      .testimonials .post__content::before {
        color: var(--white);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        content: '\f10d';
        margin-right: 6px; }
    .testimonials .post__avatar {
      float: left;
      max-width: 100px;
      height: auto;
      margin-left: 20px;
      margin-right: 10px;
      margin-bottom: 2px; }

.contacts__full {
  padding: 40px; }
.contacts__map-container {
  padding-bottom: 40px;
  opacity: 0.5; }
  .contacts__map-container:hover {
    opacity: 1; }
.contacts__form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px; }
.contacts__form {
  flex-grow: 1; }
.contacts .form input, .contacts .form textarea {
  background: var(--gray-mid-2);
  border-radius: 2px;
  resize: none;
  border: 2px solid var(--gray);
  color: var(--white);
  padding: 7px 10px 8px;
  font-size: 12px;
  line-height: 20px;
  display: block;
  width: 100%;
  box-sizing: border-box; }
.contacts .form__submit {
  font-size: 14px !important;
  font-weight: 700 !important;
  cursor: pointer;
  padding: 2px 12px !important;
  color: var(--gray-light) !important;
  background: var(--gray) !important;
  width: auto !important;
  display: inline-block !important;
  margin-top: 20px !important; }
  .contacts .form__submit:hover {
    background: var(--gray-mid-2) !important;
    border: 2px solid var(--gray); }
.contacts .form__label {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  font-weight: 700; }
  .contacts .form__label::after {
    content: '*';
    color: var(--clr-5);
    padding-left: 2px; }
.contacts .form__header {
  color: var(--white);
  background: var(--gray-mid-1);
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding: 5px 10px 7px 39px;
  margin-top: 0;
  margin-bottom: 30px; }
  .contacts .form__header-icon {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/section_marker.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-right: 8px; }
.contacts .form__personal-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .contacts .form__personal-data label {
    display: block;
    flex-grow: 1;
    max-width: 48%; }
.contacts__qr-container {
  background: var(--white);
  margin-left: 30px; }
.contacts__qr-code {
  display: block;
  padding: 30px; }

/*# sourceMappingURL=style.css.map */
